doctype html

html
	div.bgimage
		head
			div(class='header_class')
				h2= 'Contact Us!'
				img(class='logo' src='/images/logo.png')
				a(href="/cart")	        			
					img(class='cart' src='/images/icons8-favorite-cart-64.png')
			link(rel='stylesheet', href='/css/style.css')
		body 
			block content
