doctype html


html
	div.bgimg
		style.
			h1,h3 { font-family: Rockwell ;font-size: 50px; color:#ff6347;}
			h1,h3 { font-family: Rockwell ;font-size: 50px; color:#ff6347;}
			p {font-family: Rockwell;font-size: 30px; color:#FF;}
		head
			title=  QuickMeal
			img(src='/images/logo.png')
			
			
			link(rel='stylesheet', href='/css/style.css')
		body 
			block content
			//- p
			//- form(action = "/" method = "GET")
			//- 	button(name = "logout" type = "Submit" value="logout") Logout
			//- 	br