doctype html

html
	div.bgimage
		script(type='text/javascript').
			function logout() {
				fetch("/logout").then(res => {
					if(res.status===200)
						window.location.href = "/"
				});
			}
		head
			div(class='header_class')
				h2= 'Contact Us!'
				img(class='logo' src='/images/logo.png')
				button(type = "Submit" class="zone_button" onclick="logout()") Logout
				a(href="/cart")	        			
					img(class='cart' src='/images/icons8-favorite-cart-64.png')
				.wrap
				.search
					input.searchTerm(type='text', placeholder='What are you looking for?')
					button.searchButton(type='submit')
						i.fa.fa-search
			link(rel='stylesheet', href='/css/style.css')
			

		body 
			block content
