doctype html

html
	div.bgimage
		script(type='text/javascript').
			function logout() {
				fetch("/logout").then(res => {
					if(res.status===200)
						window.location.href = "/"
				});
			}
		head
			div(class='header_class')
				h2= 'Contact Us!'
				img(class='logo' src='/images/logo.png')
				button(type = "Submit" class="zone_button" onclick="logout()") Logout
				a(href="/cart")	        			
					img(class='cart' src='/images/icons8-favorite-cart-64.png')
				a(href="/profile/#{title}")
					h2='Profile'
			link(rel='stylesheet', href='/css/style.css')
		body 
			block content
