
html
style.
  h1{ font-family: Ariel ;font-size: 50px; color:#0388fc;}

script(type='text/javascript').
  function place_order(){
    
    if(confirm("Are you sure?"))
    {
      alert("Order Placed and would be redirected to home page")
      window.location.href="/"
      console.log("Check")
    }
    else
    {

    }
  }  
head
  link(rel='stylesheet', href='css/style.css') 

body

  //div(style='width: 100%; height: 50%; float:left;')
  //- include shadow_test1.html

   
  form(action="/delete", method='post')
    
    .shopping-cart
      .title
        | Shopping Bag   
      for name in items
        
        .item=name
          
          .quantity
            input.quantity-field(type='number', value='4', min='1')
                
          p.stockStatus  In Stock
            
          .cartSection.removeWrap
          a.remove(href='#') 


            button(name = name type = "Submit" value=name) Delete    
        
  button(onClick="place_order()" type='submit')  Place Order   
