extends layout_login

block content
    h1= title
        form(action = "/foodhome" method = "POST")		
            p Username:
            input(name = "username" type = "text" required placeholder = "Enter username" class = "user_login")
            br
            br
            p Password:
            input(name = "password" type = "password" required placeholder = "Enter password" class = "user_password")
            br
            br
            br 
            button(type = "Submit", class = "login_button") Student Login