extends loginlayout

block content
    h1= title
        form(action = "/foodhome" method = "POST" class="loginForm")		
            p Username:
            input(name = "username" type = "text" required placeholder = "Enter username" class = "user_login")
            br
            p Password:
            input(name = "password" type = "password" required placeholder = "Enter password" class = "user_password")
            br
            button(type = "Submit" class="zone_button") Student Login
            <a href="/signup">Haven't Registered?</a>