extends homelayout
	
block content
	h1= 'Welcome to SJSU Food Pantry'
	form(action = "/zones" method = "POST")
		.grid-container
			.grid-item
				img(src='/images/Zone1.jpg')
				p Zone 1 (Produce)
				button(name = "zone1" type = "Submit" value="zone1" class = "fd_button") View Zone1 Items
			.grid-item
				img(src='/images/Zone2.jpg')
				p Zone 2 (Multiple Use)
				button(name = "zone2" type = "Submit" value="zone2" class = "fd_button") View Zone2 Items
			.grid-item
				img(src='/images/zone3.jpg')
				p Zone 3 (Cool Zone)
				button(name = "zone3" type = "Submit" value="zone3" class = "fd_button") View Zone3 Items
			//- .grid-item
			//- 	img(src='images/zone4.jpg')
			//- 	p Zone 4 (Toiletries)
			//- 	button(name = "zone4" type = "Submit" value="zone4" class = "fd_button") View Zone4 Items
			//- .grid-item
			//- 	img(src='images/zone5.jpeg')
			//- 	p Zone 5 (Single Use)
			//- 	button(name = "zone5" type = "Submit" value="zone5" class = "fd_button") View Zone5 Items
			//- .grid-item
			//- 	img(src='images/zone6.jpg')
			//- 	p Zone 6 (Grab-N-GO)
			//- 	button(name = "zone6" type = "Submit" value="zone6" class = "fd_button") View Zone6 Items

		