extends loginlayout

block content
        form(action = "/signup" method = "POST" class="loginForm")		
            p First &nbspName:
            input(name = "firstName" type = "text" required placeholder = "Enter First Name" class = "user_login")
            br
            p Last &nbspName:
            input(name = "lastName" type = "text" required placeholder = "Enter Last Name" class = "user_login")
            br
            p Student &nbspID:
            input(name = "studentId" id="studentId" type = "text" required placeholder = "Enter SJSU ID" class = "user_login")
            br
            p Password &nbsp:
            input(name = "password" id="password" type = "password" required placeholder = "Enter password" class = "user_password")
            br
            p Confirm  &nbspPassword:
            input(name = "confirmPassword" id="confirmPassword" type = "password" required placeholder = "Confirm password" class = "user_password")
            br
            button(type = "Submit" class="zone_button" onclick="register()") Register
           