extends homelayout

block content
	h1= 'Welcome to Zone3'
	
	if(name=="zone3")
		form(action = "/cart" method = "POST")
			
			h3 Select your Order
			.grid-container
				.grid-item
					p    
					img(src='/images/milk.jpg')
					p milk	
					input(type='checkbox',name='milk',value='milk')
				.grid-item
					p
					img(src='/images/cheese.jpg')
					p cheese
					input(type='checkbox',name='cheese',value='cheese')
				.grid-item
					p
					img(src='/images/meat.jpg')
					p meat
					input(type='checkbox' name='meat' value='meat')
					p    
					button(type = "Submit", class = 'order_button') Add to Cart




