extends homelayout

block content
	h1= 'Welcome to Zone1'

	form(action = "/cart" method = "POST")
		
		h3 Add items to cart
		.grid-container
			.grid-item
				p    
				img(src='/images/zone1_image.png')
				p Chilli	
				input(type='checkbox',name='chilli',value='chilli')
			.grid-item
				p
				img(src='/images/potato.png')
				p Potatoes
				input(type='checkbox',name='potato',value='potato')
			.grid-item
				p
				img(src='/images/apple.png')
				p Apple
				input(type='checkbox' name='apple' value='apple')
				p    
				button(type = "Submit", class = 'order_button') Add to Cart

	