.header_class .logo {
	height: 120px;
    width: 120px;
	background-color: none;
	float: center;
	text-align: center;
}

img {
	height: 120px;
    width: 120px;
	background-color: none;
}

.header_class .cart{
	height: 80px;
	width: 80px;
	float: right;
	background-color: none;
	text-align: right;
}

.header_class {
	padding: 20px;
	background: #0388fc;
	color: white;
	font-size: 20px;
	position: static;
  }

h2 {
	font: 1em sans-serif;
	position: absolute;
  	top: 100px;
	font-size: 18px;
	float: left;
}

h3 {
	font: 1em sans-serif;
	position: absolute;
	font-size: 50px; 
	text-combine-upright: auto;
	top: 100px;
	color: rgb(209, 206, 50);
	font-size: 18px;
	text-align: left;
	text-shadow: 0 1px 0 black;
}


h1{
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 50px; 
    color:rgb(209, 206, 50);
    text-shadow: 0 1px 0 black;
}

p{
    color: white;
}

.bgimage {
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: white;
}

html{
	text-align: center;
	background-image: url("/images/background.jpeg");
    background-attachment: fixed;
    
	height: 100%;

	background-position: center;
	background-repeat: no-repeat;
    background-size: cover;
	background-attachment: fixed;
	
  }

.logout_button{
	background:#bbdd3f; 
	border:none; 
	border-radius: 10px; 
	width:150px; 
	height:36px; 
	cursor:pointer; 	
	font-family:open Sans; 
	font-weight:700px; 
	font-size:15px; 
	color:#FFFFFF; 
	float:right;
}
.zone_button{ 
	background:#0388fc; 
	border:none; 
	border-radius: 10px; 
	width:359px; 
	height:36px; 
	cursor:pointer; 
	font-family:open Sans; 
	font-weight:700px; 
	font-size:15px; 
	color:#FFFFFF; 
}

.loginForm {
	border: solid 5px #0388fc;
	width: 500px;
	height: 600px;
	margin-left: 33%;
	margin-right: 25%;
	background-color: lightblue;
}

.order_button{
    background:#0388fc; 
	border:none; 
	border-radius: 10px; 
	width:200px; 
	height:36px; 
	cursor:pointer; 
	font-family:open Sans; 
	font-weight:700px; 
	font-size:30px; 
	color:#FFFFFF; 
}
.grid-container 
{
  display: grid;
  grid-template-columns: auto auto auto;  
  padding: 10px;
}

.grid-item 
{
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.grid-item img{
    background: black;
}

.shopping-cart {
	width: 750px;
	height: 423px;
	margin: 80px auto;
	background: #FFFFFF;
	box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
	border-radius: 6px;
	display: flex;
	flex-direction: column; 
	box-sizing: border-box;
	border: 6px solid rgb(209, 206, 50);
}

.title {
	height: 60px;
	border-bottom: 1px solid #E1E8EE;
	padding: 20px 30px;
	color: #5E6977;
	font-size: 18px;
	font-weight: 400;
}
 
.item {
	padding: 20px 30px;
	height: 50px;
	display: flex;
}

h3 {
  padding-top: 10px;
  margin-right: 60px;
  width: 115px;
}


  
html,body {
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}
.quantity {
	/* padding-top: 20px;
	margin-right: 60px; */
	width: 15%;
}

.quantity-field {
	background-color: #ccc;
	border: 1px solid #aaa;
	border-radius: 4px;
	font-size: 0.625rem;
	padding: 2px;
	width: 3.75rem;
}

.quantity input {
	-webkit-appearance: none;
	border: none;
	text-align: center;
	width: 32px;
	font-size: 16px;
	color: #43484D;
	font-weight: 300;
}
   


ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
  
li {
	color: #111;
	display: inline-block;
	padding: 0.625rem 0;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.search {
  width: 100%;
  
  display: flex;
  position: relative;;
  float: top;
}

.searchTerm {
  width: 100%;
  border: 3px solid rgb(137, 182, 182);
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: rgb(5, 8, 8);
}

.searchButton{ 
	background:#a9bac9; 
	border:none;  
	width:200px; 
	height:20px; 
	cursor:pointer; 
	font-family:open Sans; 
	font-weight:700px; 
	font-size:15px; 
	color:#FFFFFF; 
}	


/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapper{
	display: flex;
	position: relative;
  }
  
  .wrapper .sidebar{
	width: 200px;
	height: 100%;
	background: #4b4276;
	padding: 30px 0px;
	position: fixed;
  }
  
  .wrapper .sidebar h2{
	color: #fff;
	text-transform: uppercase;
	text-align: left;
	margin-bottom: 30px;
  }
  
  .wrapper .sidebar ul li{
	padding: 15px;
	border-bottom: 1px solid #bdb8d7;
	border-bottom: 1px solid rgba(0,0,0,0.05);
	border-top: 1px solid rgba(255,255,255,0.05);
  }    
  
  .wrapper .sidebar ul li a{
	color: #bdb8d7;
	display: block;
  }
  
  .wrapper .sidebar ul li a .fas{
	width: 25px;
  }
  
  .wrapper .sidebar ul li:hover{
	background-color: #594f8d;
  }
	  
  .wrapper .sidebar ul li:hover a{
	color: #fff;
  }
   
  .wrapper .sidebar .social_media{
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
  }
  
  .wrapper .sidebar .social_media a{
	display: block;
	width: 40px;
	background: #594f8d;
	height: 40px;
	line-height: 45px;
	text-align: center;
	margin: 0 5px;
	color: #bdb8d7;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
  }
  
  .wrapper .main_content{
	width: 100%;
	margin-left: 200px;
  }
  
  .wrapper .main_content .header{
	padding: 20px;
	background: #fff;
	color: #717171;
	border-bottom: 1px solid #e0e4e8;
  }
  
  .wrapper .main_content .info{
	margin: 20px;
	color: #717171;
	line-height: 25px;
  }
  
  .wrapper .main_content .info div{
	margin-bottom: 20px;
  }
  
  @media (max-height: 500px){
	.social_media{
	  display: none !important;
	}
  }

  .top-left {
	position: absolute;
	top: 8px;
	left: 16px;
  }

  .mycontainer {
	position: relative;
	text-align: center;
	color: white;
  }
  